<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"
        crossorigin="anonymous">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <script type="text/javascript"
          th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <script type="text/javascript"
          th:src="@{/js/bootstrap.bundle.js}"></script>
  <script type="text/javascript"
          th:src="@{/js/bootstrap.js}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <title>Create new product</title>
</head>
<body>
<header th:insert="~{/fragments/header :: header}"></header>
<form id="createProductForm" method="POST" action="/iot/products"
      enctype="multipart/form-data" onsubmit="createProduct()">
  <div class="form-group">
    <input type="text" id="fridge_id" class="form-control" placeholder="Fridge name"
           th:value="${fridgeId}" hidden>
    <div class="invalid-feedback">
      Field must be not empty!
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="barcode">Barcode</label>
    <input type="text" id="barcode" class="form-control" placeholder="Barcode">
  </div>
  <div class="form-group">
    <label for="expired_date">Expired Date</label>
    <input type="date" id="expired_date" class="form-control" placeholder="Expired Date">
    <div class="invalid-feedback">
      Field must be not empty!
    </div>
  </div>
  <div class="form-group">
    <label class="my-1 mr-2" for="typeOfProduct">Type of product</label>
    <select class="custom-select mr-sm-2" id="typeOfProduct">
      <option selected>Type</option>
      <option value="1">None</option>
      <option value="2">Solid</option>
      <option value="3">Liquid</option>
    </select>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" id="price" class="form-control" placeholder="Price">
    <div class="invalid-feedback">
      Field must be not empty!
    </div>
  </div>
  <div class="form-group">
    <label for="count">Count</label>
    <input type="text" id="count" class="form-control" placeholder="Count">
    <div class="invalid-feedback">
      Field must be not empty!
    </div>
  </div>
  <div class="form-group">
    <label for="file">Select a barcode</label>
    <input type="file" class="form-control-file" id="file">
  </div>
  <button class="btn btn-primary">Upload</button>
</form>

<!-- Flexbox container for aligning the toasts -->
<div id="error_create_product_toast" aria-live="polite" aria-atomic="true"
     class="d-flex justify-content-center align-items-center"
     style="min-height: 200px;">

  <!-- Then put toasts within -->
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="error-icon"><i class="material-icons">error</i></span>
      <strong class="mr-auto">Error</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="error-toast" class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/product/createProduct.js}"></script>
</body>
</html>
