<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"
        crossorigin="anonymous">
  <title>Your fridges</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th> Id</th>
    <th> Name</th>
    <th> Products</th>
    <th> Add</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${fridges.empty}">
    <td colspan="2"> No Fridges Available</td>
  </tr>
  <tr th:each="fridge : ${fridges}">
    <td><span th:text="${fridge.id}"> ID </span></td>
    <td><span th:text="${fridge.name}"> Name </span></td>
    <td><a class="btn btn-primary" th:href="@{'/iot/products/' + ${fridge.id}}">Show products</a>
    </td>
    <td>
      <form method="POST" th:action="@{'/iot/products/' + ${fridge.id}}">
        <button type="submit" name="submit" value="value" class="btn btn-primary">Add product
        </button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<script type="text/javascript" th:src="@{/js/product/createProduct.js}"></script>
</body>
</html>
