.products {
  background: #e0a944;

  .content {
    margin-top: 64px;

    .product {
      border-radius: 1.25rem !important;
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 20px;
      height: 200px;
      width: 200px;
      max-width: 200px;
      background: #ffffff;

      .product-action {
        width: 85%;
        justify-content: center;
        position: absolute;
        bottom: 8px;
        display: flex;
      }

      .badge {
        margin-top: 10px;
      }
    }
  }
}
